#full {
    margin: auto;
    align-items: center;
    width: 80%;
}

.our-team {
    padding: 30px;
    margin: 0 10px 30px 10px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    display: block;
}

div.OTrow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 0%;
    background-color: #008DD5;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(4);
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 100%;
}

.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 0%;
    background-color: #008DD5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 0%;
    transform: scale(1.2);
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    cursor: pointer;
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.name {
    color: #F56476;
}
@media screen and (max-width: 900px) {
    
    div.OTrow {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    div.col-4 {
        display: flex;
        width: 80vw;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-width: 80vw;
    }
}


.aboutustitle {
    /* font-weight: 500;
    line-height: 1.2;
    flex-wrap: wrap; */
    /* margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 30px;
    padding-top: 50px; */
    color: #E43F6F;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    /* font-weight: 700; */
}

.image {
    width: 100%;
    display: flex;
}

#wild {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#wildimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#wildtext {
    width: 50%;
    margin: 0px;
    padding-left: 15px;
}

@media screen and (max-width: 900px) {
    #wild {
        flex-direction: column;
        padding: 15px;
    }
    #wildimg {
        width: 80vw;
    }
    #wildtext {
        width: 75vw;
        padding-top: 15px;
    }
}