.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
  }
  .row {
    padding-bottom: 85px;

    padding-top: 85px;
    flex-grow: 1;
  }
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #008DD5;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #008DD5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    cursor: pointer;
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color:#008DD5;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #008DD5;
    background-color: #f7f5ec;
  }
  .name {
      color: #F56476;
  }
  .aboutustitle {
    font-weight: 500;

    line-height: 1.2; flex-wrap: wrap;

    margin-right: -15px;
    
    margin-left: -15px;
    
    padding-bottom: 153px;
    
    padding-top: 150px;
    padding: 20px;
  }
  .aboutussubtitle{
    font-weight: 500;

    line-height: 1.2;
    padding: 20px;
  }
  #navbar {
      justify-content: flex-start;
      background: #373F51;
      list-style-type: none;
      display: flex;
      padding: 20px;
  }
  #imgtext {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;
}
.main {
  width: 400px;
  height: 250px;
  border-radius: 20px;
}
.text {
  font-size: 20px;
  display: flex;
  float: right;
  margin: 40px 40px;
  width: 600px;
}
.line {
  margin: 25px 0;
  
  background: black;
}