
h2 {
    margin: 0;
    padding-bottom: 15px;
}

#Contact {
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

.contacting {
    flex: 1;
    align-items: center;
    display: flex;

/*####### Contact Section #####*/
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#Contact form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

input[type="text"],
select,
textarea {
    width: 80%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #DFBBB1;
}

.map {
    padding-left: 15px;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 85vw;
}
.map,
.contacting {
    display: block;
    margin: 0 auto;
}
    input[type="text"],
    select,
    textarea {
        align-self: center;
        width: 80%;
        padding: 12px;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        background-color: #DFBBB1;
    }
   

      


/*####### Response Section #######*/
@media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contacting {
        align-items: center;
        width: 90%;
        height: 80%;
        padding: 20px 0px;
    }
    .contacting form {
        align-items: center;
        flex-direction: column;
        width: 85vw;
    }
}

