/*####### Contact Section #####*/
#Contact form {
    width: 600px;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    display: flex;
    margin: 0 auto;
}

input[type="text"],
select,
textarea {
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #DFBBB1;
}

/*####### Map Section #######*/
.map iframe {
    padding: 30px;
    height: 400px;
    width: 600px;
    margin: 0 auto;
    display: block;
}

.map,
.contacting {
    display: block;
    margin: 0 auto;
}