/*##### Photo Slider ########*/


div.containerSize {
    width: 100%;
    height: auto;
    margin: 0;
}  

img.mySlides {
    width: 100%;
    height: 925px;
    max-width: 100%;
}

div.Title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
div.Title h1 {
    font-size: 200px;
    text-shadow: 10px 10px 10px grey;
}

@media screen and (max-width: 900px) {
    div.Title h1 {
        font-size: 120px;
    }
}
@media screen and (max-width: 500px) {
    div.Title h1 {
        font-size: 70px;
    }
}
#NavB {
    z-index: 1;
}


/*####### Photo Gallery ##########*/

section.container {
    width: 98%;
    height: 100%;
    margin: 0;
    padding: 50px 15px 60px 15px;
    z-index: -1;
}

.rowHome {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div.col-4 {
    width: 33.33%;
}

div.box {
    box-shadow: 0px 0px 5px 1px rgba(128, 128, 255, .3);
    text-align: center;
    padding: 2.5px;
    position: relative;
    align-items: center;
}

div.box img {
    width: 100%;
    height: 340px;
    max-width: 100%;
    z-index: -2;
    justify-content: center;
    display: flex;
}

.overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(169, 169, 169, 0.7);
    margin: auto;
    display: block;
}

.hoverT {
    bottom: 0%;
    left: 50%;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(41, 40, 40);
}

.hoverT {
    color: #E43F6F;
}

.overlay {
    text-decoration: none;
}

.overlay:hover {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    section.container {
        margin: auto;
    }
    .rowHome {
        width: 80;
        align-items: center;
        justify-content: center;
    }
    div.col-4 {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-width: 640px;
    }
}