/*######### NavBar ##########*/

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    overflow: hidden;
    background: #373F51;
    margin: 0;
    padding: 10px;
}

ul#navbar.topnav {
    height: auto;
}

ul#navbar.topnav li {
    list-style-type: none;
    float: left;
    cursor: pointer;
    margin: auto;
}

ul#navbar.topnav li a {
    color: #DFBBB1;
    font-size: 20px;
    padding: 15px;
    text-decoration-line: none;
    display: block;
    text-align: center;
    text-transform: lowercase;
}

ul#navbar.topnav li a:hover {
    background-color: #ff9f99;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

ul.topnav li.dropdownicon {
    display: none;
}


/*### Mobile ###*/

@media screen and (max-width: 600px) {
    /*define o que temos quando a largura da janela é inferior a 600px*/
    ul#navbar.topnav li:not(:nth-child(1)) {
        /*para todos os elementos da lista, excepto para o elemento 1*/
        display: none;
        /*os elementos "desaparecem" da visualizaçao*/
    }
    ul#navbar.topnav li.dropdownicon {
        display: block;
        float: right;
    }
    ul#navbar.topnav.responsive li.dropdownicon {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul#navbar.topnav.responsive {
        height: auto;
        position: relative;
    }
    ul#navbar.topnav.responsive li {
        display: block;
        float: none;
    }
    ul#navbar.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}


/*######### Footer ##########*/

footer {
    background-color: #373F51;
    padding: 15px;
    text-align: center;
}

.col-3 {
    width: 25%;
}

.rowFooter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div.rowFooter a {
    color: #DFBBB1;
    font-size: 20px;
    padding: 10px;
    text-decoration-line: none;
}

div.rowFooter li {
    padding: 10px;
}

.pushRight {
    text-align: right;
}

.pushLeft {
    text-align: left;
}


/*### Mobile ###*/

@media screen and (max-width: 600px) {
    div.mobileFoot {
        width: 50%;
        display: block;
    }
    .pushRight {
        text-align: center;
    }
    .pushLeft {
        text-align: center;
    }
}


/*####### Default values #########*/

body {
    font-family: 'Lato', sans-serif;
    color: #373F51;
    margin: 0px;
}

.hoverT {
    color: #E43F6F;
    font-size: 50px;
}

.Date {
    color: #008DD5;
    font-size: 30px;
}

li {
    list-style-type: none;
}

img {
    max-width: 955px;
}

h1 {
    text-align: center;
    color: #E43F6F;
    font-size: 60px;
}

h2 {
    text-align: center;
    margin: 20px auto;
    color: #008DD5;
    font-size: 30px;
}

h3 {
    color: #373F51;
    font-size: 18px;
}

p {
    color: #373F51;
    font-size: 18px;
}